<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
    <title>Favorite Quotes</title>
</head>

<body>
    <div class="container wrapper">
        <div id="js_navmenu">
            {%if request.session.logged_in%}
            <a href='/user/logout'>LOGOUT</a>
            {%endif%}
        </div>
        <div class="jumbotron">
            <h1 class="display-4">Welcome back, {{first_name}}!</h1>
            <p class="lead">Add shows to the list!</p>
            <hr class="my-4">
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/header.js' %}"></script>

</html>