* {
    /* outline: 1px dotted yellow; */
    /* background-color: red; */
}

.container wrapper {
    margin-top: 150px;
}

.messages {
    color: red;
}

.img-welcome {
    width: 300px;
}

.img-avatar {
    width: 300px;
}


.quotes {
    font-style: oblique;
}

.danger {
    color: red;
}


.btn-width {
    width: 150px;
}

.mini-poster {
    width: 73px;
    height: 110px;
}

.img-thumbnail {
    display: inline-block;
}

.w-100 {
    width: 50px;
}

.star-sm {
    width: 20px;
}

.preformatted {
    white-space: pre-line;
}

.welcome {
    background-image: url("/media/img/welcome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.hazy {
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, .95);
}