<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'shows_app/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">


    <title>Semi-Restful TV Shows</title>
</head>

<body>
    <div class="container">
        <div id="js_navmenu">
            {%if request.session.logged_in%}
            <a href='/user/logout'>LOGOUT</a>
            {%endif%}
        </div>
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple app to add TV shows to a database using Django</p>
            <hr class="my-4">
            <p>Feel free to add, edit, delete shows as you please!</p>
            <a class="btn btn-primary btn-lg" href="/shows/list" role="button">Shows list</a>
        </div>
        Hello World! dsa
    </div>
</body>

</html>