<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/shows_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">


    <title>myMDB: {{show.title}}</title>
</head>

<body>
    <div class="container" style="vertical-align: top;">
        <div id="js_navmenu">
            {%if request.session.logged_in%}
            <a href='/user/logout'>LOGOUT</a>
            {%endif%}
        </div>

        <div class="jumbotron">
            <table>
                <tr>
                    <td class="align-top">
                        <div class="img-thumbnail">
                            <img src="/media/{{show.photo}}" class="show-poster" alt="poster-img">
                        </div>
                    </td>
                    <td class="show-info">
                        <div>
                            <h1>{{show.title}}</h1>
                            <h5>
                                {% if intStars %}
                                {% for i in "x"|ljust:intStars %}
                                <span><img src="{% static 'img/star.png' %}" alt="star" class="star-lg"></span>
                                {% endfor %}
                                ({{stars}})
                                {%else%}
                                No reviews have been submitted
                                {%endif%}
                            </h5>
                            <div class="form-group row mb-0 text-muted">
                                <div class="col">
                                    <h6>Runtime: {{show.runtime}}mins</h6>
                                </div>
                                {% if show.medium == 'Show' %}
                                <div class="col">
                                    <h6>Seasons: {{show.total_seasons}}</h6>
                                </div>
                                <div class="col">
                                    <h6>Episodes: {{show.total_episodes}}</h6>
                                </div>
                                {% endif %}
                                <div class="col">
                                </div>
                            </div>
                            <h5>{% if show.medium == 'Show' %}Network{%else%}Studio{%endif%}: {{show.network.name}} </h5>
                            <h5>Release date: {{show.release_date}}</h5>
                            <h5>Genres:
                                {% with count=1 %}
                                {% for genre in show.genre.all|dictsort:'name'  %}
                                {{genre.name}}
                                {% if forloop.counter < show.genre.count %},{% endif %}
                                {% endfor %}
                                {% endwith %}
                            </h5>
                            <hr>
                            <p>{{show.description}}</p>
                            <hr>
                            <h6>Last updated on {{show.modified_at}} by {{show.user.first_name}} {{show.user.last_name}}</h6>
                        </div>
                        {% if request.session.logged_in %}
                        <div>
                            <a href="/shows/edit/{{show.id}}" class="btn btn-primary">Edit</a>
                            <button class=" btn btn-primary" type="button" data-toggle="collapse" data-target="#showreview" aria-expanded="false" aria-controls="collapseExample">
                                Review
                            </button>
                            {% if show not in user_list %}
                            <a href="/shows/watchlist/add/{{show.id}}" class="btn btn-primary">Add to Watchlist</a>
                            {% endif %}
                            {% if this_user == show.user %}
                            <a href="/shows/delete/{{show.id}}" class="btn btn-danger float-right">DELETE</a>
                            {% endif %}

                            <div class="collapse" id="showreview" class="form-group row">
                                <div class=" col col-md-auto">
                                    <hr>
                                    <h3>Write a review</h3>
                                    <form action="/shows/review/add" method="post">
                                        {%csrf_token%}
                                        <div class="form-group">
                                            <input type="hidden" name="show_id" value='{{show.id}}'>
                                            <label for="review_title">Title</label>
                                            <input type="text" name="review_title" id="review_title" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="review_score">Score</label>
                                            <select class="form-control" id="review_score" name="review_score">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option selected>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="review_text">Review</label>
                                            <textarea name="review_text" id="" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Add</button>
                                            <button class=" btn btn-danger" type="button" data-toggle="collapse" data-target="#showreview" aria-expanded="false"
                                                aria-controls="collapseExample">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                    </td>
                </tr>
            </table>
        </div>
        {% if request.session.logged_in %}



        {%endif%}
        {% for review in reviews %}
        <div id="view_review" class="row">
            <div class="col">
                <h4>{{review.title}}</h4>
                <h6>Reviewed by {{review.user.first_name}} {{review.user.last_name}} on {{review.created_at}}</h6>

                {% for i in "x"|ljust:review.score %}
                <span><img src="{% static 'img/star.png' %}" alt="star" class="star-sm"></span>
                {% endfor %}

                <p class="preformatted">
                    {{review.review}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
<script src="{% static 'js/header.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>

</html>