<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/shows_style.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">


    <title>Semi-Restful TV Shows: {{show.title}}</title>
</head>

<body>
    <div class="container" style="vertical-align: top;">
        <div id="js_navmenu">
            {%if request.session.logged_in%}
            <a href='/user/logout'>LOGOUT</a>
            {%endif%}
        </div>

        <div class="jumbotron">
            <table>
                <tr>
                    <td>
                        <div class="">
                            <img src="{{show.image}}" class="show-poster" alt="poster-img">
                        </div>
                    </td>
                    <td class="show-info">
                        <div>
                            <h1>{{show.title}}</h1>
                            <h5>Network: {{show.network.name}} </h5>
                            <h5>Release date: {{show.release_date}}</h5>
                            <h5>Genres: THIS IS A PLACEHOLDER</h5>
                            <p>{{show.description}}</p>
                            <hr>
                            <h6>Last updated on {{show.modified_at}} by {{show.user.first_name}} {{show.user.last_name}}</h6>
                        </div>
                        {% if request.session.logged_in %}
                        <div>
                            <a href="/shows/edit/{{show.id}}" class="btn btn-primary">Edit</a>
                            <a href="/shows/review/add/{{show.id}}" class="btn btn-primary">Review</a>
                            <a href="/shows/delete/{{show.id}}" class="btn btn-danger float-right">DELETE</a>
                        </div>
                        {%endif%}
                    </td>
                </tr>
            </table>
        </div>
        <div id="reviews"></div>
    </div>
</body>
<script src="{% static 'js/header.js' %}"></script>

</html>