<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/shows_style.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">


    <title>Semi-Restful TV Shows: {{show.title}}</title>
</head>

<body>
    <div class="container" style="vertical-align: top;">
        <div id="js_navmenu">
            {%if request.session.logged_in%}
            <a href='/user/logout'>LOGOUT</a>
            {%endif%}
        </div>

        <div class="jumbotron">
            <table>
                <tr>
                    <td class="align-top">
                        <div class="">
                            <img src="{{show.image}}" class="show-poster" alt="poster-img">
                        </div>
                    </td>
                    <td class="show-info">
                        <div>
                            <h1>{{show.title}}</h1>
                            <h5>
                                {% if intStars %}
                                {% for i in "x"|ljust:intStars %}
                                <span><img src="{% static 'img/star.png' %}" alt="star" class="star-lg"></span>
                                {% endfor %}
                                ({{stars}})
                                {%else%}
                                No reviews have been submitted
                                {%endif%}
                            </h5>
                            <div class="form-group row mb-0 text-muted">
                                <div class="col">
                                    <h6>Runtime: {{show.runtime}}mins</h6>
                                </div>
                                {% if show.medium == 'Show' %}
                                <div class="col">
                                    <h6>Seasons: {{show.total_seasons}}</h6>
                                </div>
                                <div class="col">
                                    <h6>Episodes: {{show.total_episodes}}</h6>
                                </div>
                                {% endif %}
                                <div class="col">
                                </div>
                            </div>
                            <h5>{% if show.medium == 'Show' %}Network{%else%}Studio{%endif%}: {{show.network.name}} </h5>
                            <h5>Release date: {{show.release_date}}</h5>
                            <h5>Genres:
                                {% with count=1 %}
                                {% for genre in show.genre.all|dictsort:'name'  %}
                                {{genre.name}}
                                {% if forloop.counter < show.genre.count %},{% endif %}
                                {% endfor %}
                                {% endwith %}
                            </h5>
                            <hr>
                            <p>{{show.description}}</p>
                            <hr>
                            <h6>Last updated on {{show.modified_at}} by {{show.user.first_name}} {{show.user.last_name}}</h6>
                        </div>
                        {% if request.session.logged_in %}
                        <div>
                            <a href="/shows/edit/{{show.id}}" class="btn btn-primary">Edit</a>
                            <span onclick="showAddReview({{show.id}})" class="btn btn-primary">Add Review</span>
                            <a href="/shows/watchlist/add/{{show.id}}" class="btn btn-primary">Add to Watchlist</a>
                            <a href="/shows/delete/{{show.id}}" class="btn btn-danger float-right">DELETE</a>
                        </div>
                        {%endif%}
                    </td>
                </tr>
            </table>
        </div>
        {% if request.session.logged_in %}
        <div id="add_review" class="row">
            {% csrf_token %}
        </div>
        {%endif%}
        {% for review in reviews %}
        <div id="view_review" class="row">
            <div class="col">
                <h4>{{review.title}}</h4>
                <h6>Reviewed by {{review.user.first_name}} {{review.user.last_name}} on {{review.created_at}}</h6>

                {% for i in "x"|ljust:review.score %}
                <span><img src="{% static 'img/star.png' %}" alt="star" class="star-sm"></span>
                {% endfor %}

                <p>{{review.review}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/review.js' %}"></script>

</html>